<%= form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <!-- <div class="form-group"> -->
  <%= form_group_tag(wiki.errors[:title]) do %>
    <%= f.label :name %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter Wiki name" %>
  <% end %>
  <!-- <div class="form-group"> -->
  <%= form_group_tag(wiki.errors[:body]) do %>
    <%= f.label :wiki_content %>
    <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: "Enter Wiki Content" %>
  <%end%>
  <div class="form-group">
    <%= f.label :private, class: 'checkbox my-checkbox' do %>
      <% if current_user.standard? %>
        <%= f.check_box :private, disabled: true %> Private Wiki
      <% else %>
        <%= f.check_box :private, onclick: 'showUsers()'  %> Private Wiki
      <%end%>
    <%end%>
  </div>
  <% if wiki.user_id == current_user.id %>
  <div class='collaborator-form'>
    <h2>Collaborators</h2>
    <table class="table table-striped">
      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td scope="row"><%= u.email %></td>
            <% if is_collaborator?(u.id, wiki) %>
              <td><%= check_box_tag 'wiki[collaborator_ids][]', u.id, checked: true %></td>
            <% else %>
              <td><%= check_box_tag 'wiki[collaborator_ids][]', u.id %></td>
            <%end%>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <% end %>
  <%= f.submit "Save", class: 'btn btn-success' %>
<%end%>
<script type="text/javascript">
  c = document.getElementsByClassName('collaborator-form');
  cb = document.querySelectorAll('input[type=checkbox]');
  console.log(cb)
  if(cb[0].checked === true){
    c[0].style.display = "initial";
  }else{
    c[0].style.display = "none";
  }
</script>
